<a href="https://colab.research.google.com/github/christyuda/BlastingWA/blob/main/BlastingWa.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
!pip install pandas openpyxl

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.23.5)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [69]:
# Install the required libraries

# Import the libraries
import pandas as pd

# Load the first Excel file
file1 = 'datafltb1.csv'  # Change this to the actual path
df1 = pd.read_csv(file1)
desc = df1.dtypes

# Load the second Excel file
file2 = 'datasemuamahasiswa2023fix.csv'  # Change this to the actual path
df2 = pd.read_csv(file2)
df2['NPM'] = pd.to_numeric(df2['NPM'], errors='coerce', downcast='integer')
df2['NPM'] = df2['NPM'].astype('Int64')
desc2 = df2.dtypes
df2['NPM'].fillna(-1, inplace=True)
# print(df2)


# Merge the dataframes based on the 'no' and 'npm' columns
merged_df = pd.merge(df1, df2, on=['NPM'] , how='left')
merged_df = merged_df.drop_duplicates(subset=['NPM', 'Nama'])


# Display the merged dataframe
print(merged_df)
print(desc)
print(desc2)

# Save the merged dataframe to a new Excel file
output_file = 'merged_data_fltb.xlsx'  # Change this to the desired output path
merged_df.to_excel(output_file, index=False)

      No        NPM                          Nama  \
0      1   16117019      Mochamad Siddik Ramdhani
1      2   16117034   Muhammad Fajar Fathurrahman
2      3   16117082           Nethanael Ericson
3      4   16117135        M. Daffa Ridho Pratama
4      5   13117035    Reinitha Jasmine Ferdinand
..   ...        ...                           ...
365  366  185230014  Muhammad Adin Lambang Garuda
366  367  185230015           Nony Azurah Anaflin
367  368  185230017              Syifa Faturohman
368  369  185230019      Sulthan Zaki Noer Fathir
369  370  185230020                   Mugi Triana

                            Jurusan    Data Tagihan  \
0        S1 Manajemen Logistik 2017   Rp 1.250.000
1        S1 Manajemen Logistik 2017   Rp 1.250.000
2        S1 Manajemen Logistik 2017   Rp 1.250.000
3        S1 Manajemen Logistik 2017   Rp 2.500.000
4    S1 Manajemen Transportasi 2017   Rp 1.250.000
..                              ...             ...
365      S1 Manajemen Rekayasa 2023   Rp 3.500.000
366      S1 Manajemen Rekayasa 2023   Rp 3.500.000
367      S1 Manajemen Rekayasa 2023   Rp 3.500.000
368      S1 Manajemen Rekayasa 2023   Rp 2.125.000
369      S1 Manajemen Rekayasa 2023   Rp 5.500.000

                   Nama_Mahasiswa                                  email
0        Mochamad Siddik Ramdhani                 mochsiddik45@gmail.com
1     Muhammad Fajar Fathurrahman  Muhammadfajarfathurrahman24@gmail.com
2               Nethanael Ericson           nethanaelericson17@gmail.com
3          M. Daffa Ridho Pratama                  Daffaridh07@gmail.com
4      Reinitha Jasmine Ferdinand          reinithaferdinand98@gmail.com
..                            ...                                    ...
365  Muhammad Adin Lambang Garuda              muhammadadin089@gmail.com
366           Nony Azurah Anaflin                 nonyazurah20@gmail.com
367              Syifa Faturohman                  ftrhmnsyifa@gmail.com
368      Sulthan Zaki Noer Fathir               sultanzaki1933@gmail.com
369                   Mugi Triana                mugitriana435@gmail.com

[370 rows x 7 columns]
No               int64
NPM              int64
Nama            object
Jurusan         object
Data Tagihan    object
dtype: object
NPM                Int64
Nama_Mahasiswa    object
email             object
dtype: object

# New Section